services:
  slim:
    image: ghcr.io/agntcy/slim:0.6.1
    container_name: slim-devnet
    ports:
      - "46357:46357"
    environment:
      - PASSWORD=${SLIM_GATEWAY_PASSWORD:-dummy_password}
      - CONFIG_PATH=/config.yaml
    volumes:
      - ./config/docker/slim/server-config.yaml:/config.yaml
    command: ["/slim", "--config", "/config.yaml"]

  ui:
    build:
      context: .
      dockerfile: docker/Dockerfile.ui
    image: ghcr.io/devnet/compliance-ui:latest
    container_name: compliance-ui
    environment:
      # These URLs must be accessible from the BROWSER (not Docker), so use localhost with exposed ports
      - VITE_COMPLIANCE_AGENT_API_URL=http://localhost:9090

    depends_on:
      - compliance-agent
    ports:
      - "3002:3000"
    networks:
      - default

  compliance-agent:
    build:
      context: .
      dockerfile: docker/Dockerfile.compliance-agent
    image: ghcr.io/devnet/compliance-agent:latest
    env_file:
      - .env
    environment:
      - DEFAULT_MESSAGE_TRANSPORT=SLIM # Do not change. SLIM is required for group conversation.
      - TRANSPORT_SERVER_ENDPOINT=http://slim:46357
      - OTLP_HTTP_ENDPOINT=${OTLP_HTTP_ENDPOINT:-http://otel-collector:4318}
    ports:
      - "9090:9090"